# Compiler files
cache/
out/
logs/

# Ignore everything in broadcast by default
broadcast/**
!broadcast/*/
!broadcast/*/8453/
!broadcast/*/8453/**
broadcast/*/8453/dry-run

node_modules

certora

# Docs
docs/

# Dotenv file
.env

.DS_Store

!deployments/
!deployments/*/
!deployments/*/*/
deployments/*/*/dry-run/

coverage
lcov.info

soljson-latest.js

