# Compiler files
cache/
out/

# Ignores development broadcast logs
# !/broadcast
# /broadcast/*/31337/
# /broadcast/*/84532/
# /broadcast/**/dry-run/

/broadcast

node_modules

certora

# Docs
docs/

# Dotenv file
.env

.DS_Store

deployments/*
!deployments/base-sepolia
!deployments/base-sepolia/*
!deployments/arb-sepolia
!deployments/arb-sepolia/*
!deployments/op-sepolia
!deployments/op-sepolia/*
!deployments/bera-bartio
!deployments/bera-bartio/*
!deployments/hyper-testnet
!deployments/hyper-testnet/*
!deployments/monad-testnet
!deployments/monad-testnet/*

coverage
lcov.info